OrderManagement.json
{
  "name": "Order Management",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        208
      ],
      "id": "0054b703-1553-4eff-98d1-4b2bd14e12ff",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "O84SAQlfLBDaHU70",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "576683d5-1130-41fd-a17b-dc5220cb32fc",
              "leftValue": "={{ $json.From }}",
              "rightValue": "Bizk Msr <bizkmsr@gmail.com>",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        208
      ],
      "id": "d995ebae-9e08-4386-af3c-320d7a7c8d14",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici un email reçu :\nDe : {{ $json.From }}\nSujet : {{ $json.Subject }}\nContenu : {{ $json.snippet }}\n\nrepond au emaill recu par la person avec politess comme un etre humain enlever ça \"\nVoici une proposition de réponse :\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        192
      ],
      "id": "cff5ce37-af67-46ab-b3a0-2aee25886526",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax-m3:cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -176,
        384
      ],
      "id": "4165c346-c37c-43bb-8a1d-62ef8d725fe9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Rqa0iU3hmvjbG0PL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('If').item.json.From }}",
        "subject": "Gestion de commande",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "id": "71942efc-5d0b-4be2-992d-37de7e342c80",
      "name": "Send a message",
      "webhookId": "3f7194fc-752b-40af-807c-a2edb51a79e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "O84SAQlfLBDaHU70",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        0,
        384
      ],
      "id": "e6088a32-2e75-40c3-ae0f-062c530e60c0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -832,
        320
      ],
      "id": "6c7811cf-5ad6-4d79-94df-b99159da57bd",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZF7PPW4zxTusWqvO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "gmail",
          "mode": "list",
          "cachedResultName": "gmail"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "gmail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -672,
        320
      ],
      "id": "f0e440ff-bbfd-471e-8b2a-bd3ad32aef10",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zhgYjwXbNij2quq0",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -704,
        512
      ],
      "id": "e2abc302-4905-4c07-8f9d-992a78a1a4aa",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Rqa0iU3hmvjbG0PL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -496,
        480
      ],
      "id": "55145650-59e2-466b-8ac5-11dd09891623",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SJtEzP2GHVQBsNqFtzqzzlxojvPoiZ54",
          "mode": "list",
          "cachedResultName": "apple",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SJtEzP2GHVQBsNqFtzqzzlxojvPoiZ54"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        320
      ],
      "id": "22b014d1-f028-4b88-b3df-99ff3c7ab56d",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZF7PPW4zxTusWqvO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "description": "it an file that contains appel products if you ever get a question about a specifique product use the file to answer and if you dont find the answer inside the file dont answer "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        128,
        384
      ],
      "id": "7ba2d21a-d9e7-46a9-8195-9244a1d51cea",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "gmail",
          "mode": "list",
          "cachedResultName": "gmail"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        528
      ],
      "id": "d3bfbd09-0adf-46a4-9aed-d37f0857a130",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "zhgYjwXbNij2quq0",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        160,
        656
      ],
      "id": "16c29eb8-6f9e-4ccb-8747-37ca6ee94bc7",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "Rqa0iU3hmvjbG0PL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "minimax-m3:cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        512
      ],
      "id": "c5bee946-2a74-4774-ade1-15479410e7e7",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "Rqa0iU3hmvjbG0PL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## knowledg base\n",
        "height": 416,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        272
      ],
      "id": "7fecd376-4ac8-4953-96f6-4b6b3e33c74f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "##  Gmail RAG chatbot",
        "height": 688,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        80
      ],
      "id": "cf173248-56fc-47c5-a84d-5fe7f98e6197",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a733f6be-e473-4d0e-9589-97df4e01ebfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae2b54ccaf1793137b9f485e183251c8268127f403edb33948a067c485da07da"
  },
  "id": "CzHvLV7UBbDU2Xwu",
  "tags": []
}